# **Assignment no 1**

**SET A**

## Strings :
#### Q1) Write a python program to check whether the string is Symmetrical or Palindrome

In [ ]:
s1 = input("Enter a string :")
s2 = s1.lower()
s3 = s2[-1::-1]
print("String after reversing :",s3)
if(s3==s2):
    print("string is palindrome !!")
else:
    print("string is not palindrome")

Enter a string :Nitin
String after reversing : nitin
string is palindrome !!

#### Q2) Write a Python program to reverse the words in a given string

In [ ]:
s = input("Enter a string :")
print("String after reversing :",s[-1::-1])

Enter a string :Abhishek
String after reversing : kehsihbA

#### Q3) Write a Python program to remove the iâ€™th character from the string in different ways

In [ ]:
s = input("Eneter a string: ")
i = int(input("Enter i :"))

# we want to remove ith element as table not as a index
# a = s[:i]
# b = s[i+1:]

a = s[:i-1]
b = s[i:]
c=a+b
print(c)

Eneter a string: Abhishek
Enter i :7
Abhishk

## Functions :
#### Q1) Write a python function to find the Max of three numbers

In [ ]:
def max(a,b,c):
  if a>b and a>c:
    return a
  elif b>a and b>c:
    return b
  else:
    return c
a =int(input("Enter a :"))
b =int(input("Enter b :"))
c =int(input("Enter c :"))
print("Maximum number is :",max(a,b,c))

Enter a :7
Enter b :5
Enter c :4
Maximum number is : 7

#### Q2) Write a python function to Sum all the numbers in a list

In [ ]:
lst = [2,5,7,77,23,45]
sum = 0
for i in lst:
  sum = sum+i
print(sum)

159

#### Q3) Write a Python function to reverse the string

In [ ]:
def rev(s):
  return s[-1::-1]

s = input("Enter the string:")
print('Reverse of a string:',rev(s))

Enter the string:Abhishek
Reverse of a string: kehsihbA

**SET B**

## Strings :

#### Q1) Write a python program to print even length words in a string

In [ ]:
s = input('Enter a string :')
l = s.split()
for i in l:
  if len(i)%2==0:
    print(i)

Enter a string :Abhishek Rohodasa
Abhishek
Rohodasa
['Abhishek', 'Rohodasa']

#### Q2) Write a python program to accept the strings which contains all vowels

In [ ]:
s = input('Enter a string :')
v = set("aeiou")
s2= list({})
for i in s:
  if i in v:
    s2.append(i)
  else:
    pass
if len(s2)==len(s):
  print('Accepts')
else:
  print('Rejected')

Enter a string :aaeeiioouu
Accepts
['a', 'a', 'e', 'e', 'i', 'i', 'o', 'o', 'u', 'u']

#### Q3) Write a python program to Count the number of matching characters in a pair of String

In [ ]:
s1 = input('Enter a string :')
s2= set(s1)
s3 = input('Enter a string :')
s4 = set(s3)
c=0
for i in s2:
  if i in s4:
    c=c+1
print(c)

Enter a string :aabcdefk12
Enter a string :b2acdefk1
9

## Functions :

#### Q1) Write a Python function that takes a list and returns  a new list with unique elements of the first list.

In [ ]:
def uniq(lst):
  lst2 = lst.lower()
  l = ""
  for i in lst2:
    if i not in l:
      l=l+i
  return l

lst = input("Enter a list :")
print(uniq(lst))

Enter a list :Abhishek
abhisek

#### Q2)  Write a python function that takes a number as a parameter and check the number is prime or not.

In [ ]:
def prime(n):
  if n==1:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

n = int(input("Enter a number :"))
print(prime(n))

Enter a number :7
True

In [ ]:
def pri(n):
  for i in range(2,n):
    if n==1:
      print("Not a prime")
      break
    elif n%i==0:
      print('Not a prime')
      break
    else:
      print('Prime')
      break

n= int(input("Enter a number :"))
print(pri(n))

Enter a number :7
Prime
None

#### Q3) Write a python function to check whether a number is perfect or not.

In [ ]:
def perfect(num):
  sum = 0
  for i in range(1,num):
    if num%i==0:
      sum+=i
  if sum==num:
    return True
  else:
    return False

num = int(input("Enter a num :"))
print(perfect(num))

Enter a num :6
True

# **Assignment no 2**

**SET A**

#### Q1) Python Program to Calculate the Area of a Triangle

In [ ]:
b = int(input("Enter breadth:"))
h = int(input("Enter height:"))
A = 0.5*b*h
print("Area of triangle :",A)

Enter breadth:4
Enter height:7
Area of triangle : 14.0

#### Q2) Python Program to Swap Two Variables

In [ ]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))
temp=a
a=b
b=temp
print("a:",a,"and b:",b)

Enter a:10
Enter b:20
a: 20 and b: 10

#### Q3) Python Program to Generate a Random Number

In [ ]:
import random

print(random.randint(0,9))

0

**SET B**

#### Q1) 1. Write a Python Program to Check if a Number is Positive, Negative or Zero

In [ ]:
a = int(input("Enter the num:"))
if a==0:
  print("It's a zero")
elif a>0:
  print("This is positive number")
else:
  print("This is negative number")

Enter the num:7
This is positive number

#### Q2) 2. Write a Python Program to Check if a Number is Odd or Even

In [ ]:
a = int(input("Enter the no:"))
if a%2==0:
  print("This is even number")
elif a%2!=0:
  print("This is even number")
else:
  print("This is zero")

Enter the no:0
This is even number

#### Q3) 3. Write a Python Program to Check Prime Number

In [ ]:
a = int(input("Enter the no:"))
if a>1:
  for i in range(2,a):
    if a%i==0:
      print("This is not a prime number")
      break
  else:
    print("This is a prime number")
else:
  print("This is not a prime number")

Enter the no:6
This is not a prime number

#### Q4) Write a Python Program to Check Armstrong Number

In [ ]:
n = int(input("Enter the num:"))
sum=0
temp = n
while temp>0:
  digit = temp%10
  sum= sum + digit**3
  temp//=10

if n == sum:
  print(n,"is an Armstrong number")
else:
  print(n,"is not an Armstrong number")

Enter the num:123
123 is not an Armstrong number

#### Q5) Write a Python Program to Find the Factorial of a Number

In [ ]:
n = int(input("Enter the num:"))
fact = 1
if n<0:
  print("Factorial does not exist")
elif n==0:
  print("Factorial of 0 is 1")
else:
  for i in range(1,n+1):
    fact = fact*i
print(fact,"is the factorial")

Enter the num:5
120 is the factorial

# **Assignment no 3**

#### Q1) Write a Python program to append items from a specified list.

In [ ]:
lst = ['abhi','abhi2','abhi3']
print(lst)
lst.append('abhi4')
print(lst)

['abhi', 'abhi2', 'abhi3']
['abhi', 'abhi2', 'abhi3', 'abhi4']

#### Q2) Write a python program Check if a Substring is Present in a Given String

In [ ]:
lst = ['abhi','abhi2','abhi3']

if 'abhi5' in lst:
  print('Present')
else:
  print('Not present')

Not present

#### Q3) Write a python program Words Frequency in String Shorthands

In [ ]:
test = input("Enter the string:")
print("Original string is :",str(test))
res = {key: test.count(key) for key in test.split()}
print("Frequency of words is:",str(res))

Enter the string:abhi is abhi
Original string is : abhi is abhi
Frequency of words is: {'abhi': 2, 'is': 1}

#### Q4) Write a python program Convert Snake case to Pascal case

In [ ]:
test = input("Enter the string:")
print("Original string is :",str(test))
res = test.replace('_'," ").title().replace(" ","")
print("The String after changing case : " + str(res))

Enter the string:ABhi_pawar
Original string is : ABhi_pawar
The String after changing case : AbhiPawar

#### Q5) Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number as an argument.

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

n = int(input("Enter the num:"))
print(fact(n))

Enter the num:5
120

#### Q6) Write a Python function to check whether a number is in a given range.

In [ ]:
def ran(n):
  if n in range(5,15):
    print("Num is in range")
  else:
    print("Num is outside the range")

n = int(input("Enter the num:"))
print(ran(n))

Enter the num:4
Num is outside the range
None

#### Q7. Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

In [ ]:
def test(s):
  d = {"UPPER_CASE":0, "LOWER_CASE":0}
  for c in s:
    if c.islower():
      d["LOWER_CASE"]+=1
    elif c.isupper():
      d["UPPER_CASE"]+=1
    else:
      pass

  print ("Original String : ", s)
  print ("No. of Upper case characters : ", d["UPPER_CASE"])
  print ("No. of Lower case Characters : ", d["LOWER_CASE"])

test("AbhiS")

Original String :  AbhiS
No. of Upper case characters :  2
No. of Lower case Characters :  3

#### Q8) Write a Python program to detect the number of local variables declared in a function.

In [ ]:
def fun():
  x=4
  y=7
  s = "Abhi"
  print(s)
print("The number of variables are:",fun.__code__.co_nlocals)

The number of variables are: 3

#### Q8. Write a python program to Remove all duplicates from a given string in Python

In [ ]:
def duplicates_without_order(str1):
  return "".join(set(str1))

def duplicates_with_order(str1):
  return "".join(sorted(set(str1), key=str1.index))

str1 = "Abhishek Pawar"
print(duplicates_without_order(str1))
print(duplicates_with_order(str1))

Aiwesahk rbP
Abhisek Pawr

#### Q9. Write a Python function that checks whether a passed string is palindrome or not.

In [ ]:
def palindrome(n):
  if n==n[::-1]:
    print("Palindrome")
  else:
    print("Not a palindrome")

n = input("Enter the string:")
palindrome(n)

Enter the string:121
Palindrome

#### Q10) Write a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically.

In [ ]:
items = [n for n in input().split('-')]

items.sort()

print('-'.join(items))

red-black-white-blue
black-blue-red-white

# **Assignment no 4**

**SET A**

**List**

#### Q1) Write a Python program to sum all the items in a list.

In [ ]:
lst = [10,20,30,40]
sum=0
for i in lst:
  sum= sum+i
print("Sum :",sum)

Sum : 100

#### Q2) Write a Python program to multiplies all the items in a list.

In [ ]:
lst = [10,20]
mul=1
for i in lst:
  mul= mul*i
print("multiplication :",mul)

multiplication : 200

#### Q3) Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

In [ ]:
def sort_by_last_element(tuples_list):

    return sorted(tuples_list, key=lambda x:x[-1])

example_list = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sort_by_last_element(example_list)
print("Sorted list:", sorted_list)

Sorted list: [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

**Tuple**

#### Q1) Write a Python program to create a tuple.

In [ ]:
n = (1,7,717)
print(n)

(1, 7, 717)

#### Q2) Write a Python program to create a tuple with different data types.

In [ ]:
n = ('abhi',False,1,4.6,717)
print(n)

('abhi', False, 1, 4.6, 717)

#### Q3) Write a Python program to check whether an element exists within a tuple.

In [ ]:
n = ('abhi',1,4.6,False,717)
if 'abhi' in n:
  print('Present')
else:
  print('Not present')

Present

**Sets:**

#### Q1) Write a Python program to create a set.

In [ ]:
n = {'abhi',717,False,1,4.6,717}
print(n)

{False, 1, 4.6, 'abhi', 717}

#### Q2) Write a Python program to iterate over sets.

In [ ]:
n = {'abhi',717,False,1,4.6,717}
for i in n:
  print(i)

False
1
4.6
abhi
717

#### Q3) Write a Python program to create set difference.

In [ ]:
n = {'abhi',717,False,1,4.6,717}
m = {'Pawar',True,717,1}
ans = n-m
print(ans)

{False, 'abhi', 4.6}

**Dictionary**

#### Q1) Write a Python script to sort (ascending and descending) a dictionary by value

In [ ]:
d = {1: 22, 3: 42, 4: 32, 2: 12, 0: 20}
print('Original dictionary : ',d)

sorted_asc = sorted(d.items(), key=lambda x:x[1])
print('Dictionary in ascending order by value : ',sorted_asc)

sorted_des = sorted(d.items(), key=lambda x:x[1], reverse=True)
print('Dictionary in ascending order by value : ',sorted_des)

Original dictionary :  {1: 22, 3: 42, 4: 32, 2: 12, 0: 20}
Dictionary in ascending order by value :  [(2, 12), (0, 20), (1, 22), (4, 32), (3, 42)]
Dictionary in ascending order by value :  [(3, 42), (4, 32), (1, 22), (0, 20), (2, 12)]

#### Q2) Write a Python script to add a key to a dictionary.

In [ ]:
d = {1: 22, 3: 42, 4: 32, 2: 12, 0: 20}
print('Original dictionary : ',d)

d[5]=100
print('Dictionary after adding a key : ',d)

Original dictionary :  {1: 22, 3: 42, 4: 32, 2: 12, 0: 20}
Dictionary after adding a key :  {1: 22, 3: 42, 4: 32, 2: 12, 0: 20, 5: 100}

#### Q3) Write a Python program to iterate over dictionaries using for loops.

In [ ]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key, value in dt.items():
    print(key,":", value)

a : juice
b : grill
c : corn

**SET B**

**List :**

#### Q1. Write a Python program to remove duplicates from a list.

In [ ]:
def Remove(duplicate):
    final_list = []
    for  i in duplicates:
      if i not in final_list:
        final_list.append(i)
    return final_list

duplicates = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicates))

[2, 4, 10, 20, 5]

#### Q2. Write a Python program to check a list is empty or not.

In [ ]:
a = []
if len(a) == 0:
    print("The list is empty")
else:

    print("The list is not empty")

The list is empty

**Tuples**

#### Q1. Write a Python program to convert a list to a tuple.

In [ ]:
lst = [2,4,6,7]
print(lst)
tup = tuple(lst)
print(tup)

[2, 4, 6, 7]
(2, 4, 6, 7)

#### Q2. Write a Python program to remove an item from a tuple

In [ ]:
tup = [2,4,6,7,2,1]
print(tup)
tup.remove(2)
print(tup)

[2, 4, 6, 7, 2, 1]
[4, 6, 7, 2, 1]

#### Q3. Write a Python program to slice a tuple.

In [ ]:
tup = [2,4,6,7,2,1]
print(tup[0:3])

[2, 4, 6]

#### Q4. Write a Python program to find the length of a tuple.

In [ ]:
tup = [2,4,6,7,2,1]
print(len(tup))

6

**SETS**

#### Q1. Write a Python program to check if a set is a subset of another set.

In [ ]:
stt = {1,2,3,4,5}
stt1 = {1,2,7}
print(stt1.issubset(stt))

False

#### Q2. Write a Python program to find maximum and the minimum value in a set.

In [ ]:
sett = {12,3,45,6,2,7,17}
print(max(sett))
print(min(sett))

45
2

#### Q3. Write a Python program to find the length of a set.

In [ ]:
sett = {2,4,5,62,5,5,2,7}
print(len(sett))

5

**Dictionary**

#### Q1. Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

In [ ]:
def dict1(n):
  result = {}
  for i in range(1,n+1):
    result

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### Q2. Write a Python script to merge two Python dictionaries.

In [ ]:
dict1 = {'a': 100, 'b': 200}
dict2 = {'x': 300, 'y': 200}
dict3 = dict1.copy()
dict3.update(dict2)
print(dict3)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

#### Q3. Write a Python program to get a dictionary from an object's fields.

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person = Person('Abhi', 22)
print(person.__dict__)

{'name': 'Abhi', 'age': 22}